<p id="notice"><%= notice %></p>

<div class="welcome">
  <h1>Welcome to My Blog</h1>
</div>


<div class="index-content">
	<% @entries.each do |entry| %>
		<div class="well col-md-10 col-md-offset-1">
    	  <h2><%= link_to entry.title, entry %>  </h2>
    	  <hr>
   		  <%= truncate((entry.description), escape: false, length: 400) do %>
            <%= link_to "Continue reading", entry_path(entry)  %>
          <% end %>		
        </div>
  <% end %>
</div>
