<p id="notice"><%= notice %></p>

<div class="welcome">
  <h1>Welcome to My Blog</h1>
</div>

<% @entries.each do |entry| %>
  <div class="well col-md-8 col-md-offset-2">
    <%= link_to entry.title, entry %>
  </div>
<% end %>


