<p id="notice"><%= notice %></p>

<div class="welcome">
  <h1>Welcome to My Blog</h1>
</div>


<div class="index-content">
	<div class="well col-md-10 col-md-offset-1">
    	<% @entries.each do |entry| %>
    	  <h2><%= link_to entry.title, entry %>  </h2>
    	  <hr>
	      <%= truncate((entry.description), length: 400) { link_to "Continue", entry_path(entry) }.html_safe %>
      <% end %>
	</div>
</div>
