// font-family: 'Kaushan Script', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Poiret One', cursive;

*, *:before, *:after {
  box-sizing: border-box;
}


body{
  margin: 0;
  background-color: rgba(170, 237, 215, 0.12);
}


h1, h2 {
  text-align: center;
  color: #AAEDD7;
  // padding-bottom: 40px
}


h1{
  font-size: 4em;
  font-family: 'Poiret One', cursive;

}

h2{
  // font-style: 3rem;
  font-family: 'Kaushan Script', cursive;

}

.link {
  display: block;
}
.well{
  background: white;
  border: solid 1px #AAEDD7;
}

.hr {
  border-color: #AAEDD7;
}

.btn-primary {
    color: #fff;
    background-color: #F5FCFA;
    border-color: #AAEDD7;
}

.welcome {
  background-color: #00C382;
  width: 100%;
  line-height: 4;
  position: fixed;
  top: 0;
}

.index-content{
  margin-top: 10%;
}

.blog-title{
  padding-bottom: 5%;
}

.blog-content {
  display: block;

  p {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Roboto', sans-serif;
  }
}
