// font-family: 'Lato', sans-serif;
// font-family: 'Poiret One', cursive;
// font-family: 'Raleway', sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}


body{
  margin: 0;
  // background-color: rgba(245, 245, 245, 0.58);
  // background-color: #EBF5F4;
  background: url("fabric_of_squares_gray.png")

}


h1, h2 {
  text-align: center;
  color: #040429;
  // padding-bottom: 40px
}


h1{
  font-size: 11rem;
  font-family: 'Poiret One', cursive;
  // color: #F62459;
  color: #424897;
  font-weight: 600;

}

h2{
  font-style: 2rem;
  // font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;

  a:visited {
    // color: #040429;
    color: #9565B9;
  }
}

.link {
  display: block;
}
.entry-index {
  .well{
    background: #F9F9F9;
    border: solid 0px;
    box-shadow: none;
    border-left: solid 20px rgba(156, 224, 187, 0.26);
    // border-bottom: solid 17px rgba(149, 101, 185, 0.18);
  }

}

hr {
  // border-color: #3a3335;
  border-color: #9CE0BB;
}

.btn-primary {
    color: #fff;
    background-color: #F5FCFA;
    border-color: #040429;
}

.welcome {
  background-color: #00C382;
  width: 100%;
  line-height: 4;
  position: fixed;
  top: 0;
}

.index-content{
  margin-top: 3%;
}

.blog-title{
  padding-bottom: 5%;
}

.blog-content {
  display: block;

  p {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

  }
}

.continue-reading{
  a {
    // color: #040429;
    color: #9565B9;
  }
  a:visited {
    // color: #F4A1B1;
    color: #424897;
    background-color: #F4A1B1;
  }
  a:hover {
    background-color: #F4A1B1;

  }
}

.blog-show {
  .well{
    border-left: solid 20px rgba(156, 224, 187, 0.26);
    border-bottom: solid 17px rgba(149, 101, 185, 0.18);
    box-shadow: none;
    border-right: 0px;
    border-top: 0px;
  }

  h2{
    color: #9565B9;
  }

  a {
    color: #9565B9;
  }
  a:visited {
    // color: #F4A1B1;
    color: #424897;
    background-color: #F4A1B1;
  }
  a:hover {
    background-color: #F4A1B1;
    color: #424897;
  }

}
